<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Coin Combination</title>
  </head>
  <body>
    <div class="container">
      <h1>How much change are you owed?</h1>
          <form action="/input">
            <div class="form-group">
              <label for="change">In dollars and cents? ($_.__)</label>
              <input type="decimal" name="change" class="form-control" id="change">
            </div>
              <button type="submit" class="btn btn-info">Calculate coins</button>
          </form>
    </div>
  </body>
</html>
