<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Results!</title>
  </head>
<body>
  <div class="container">
    <h1> That'll get you: </h1>
    <ul>
      <li>{{ coins[3] }} quarters</li>
      <li>{{ coins[2] }} dimes</li>
      <li>{{ coins[1] }} nickels
      <li>{{ coins[0] }} pennies</h1>
    </ul>
    <form action="/">
      <button class="btn btn-info">Be the change you wish to see in the world.</button>
    </form>
  </div>
</body>
</html>
