<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Anagram Managar</title>
    </head>
    <body>
        <div class="container">
        <h3>Were you smart?</h3>
        {% for word in answer%}
          <p> {{ word }} </p>
        {% endfor %}

        <form action="/">
          <button class="btn btn-info">Back</button>
        </form>
        </div>
    </body>
</html>
