<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Anagram Managar</title>
    </head>
    <body>
        <div class="container">
        <h3>Were you smart?</h3>
        <p> Your word: </p>
        <p> {{ answer }} </p>

        <button class="btn btn-success"><a href='/'>Back</a></button>
        </div>
    </body>
</html>
