<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Anagram managar</title>
    </head>
    <body>
        <div class="container">
            <form action="/anagram_check">
                <div class="form-group">
                    <label for="input1">Enter your base word:</label>
                    <input id="input1" name="input1" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="input2">Enter the word you'd like to check:</label>
                    <input id="input2" name="input2" type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </body>
</html>
